html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

#container_indicators {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #eee;
}

.indicator_value {
    height: calc(100%/8);
}

#container_charts {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
}

.is-vcentered {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    /* used this for multiple child */
    align-items: center;
    /* if an only child */
}

#score_ots {
    /* height: 100vh !important;
    width: 100% !important; */
}

#survey_pie {
    height: 50%;
}

#ots_resumen {
    height: 50%;
    width: 100%;
}